<div class="col-12 github-button py-3">
    <a href="" class="navbar-link">
        <button type="button" class="btn btn-primary">
            <i class="fab fa-github"></i> Github Repository
        </button>
    </a>
</div>