<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { page: 'Fullscreen' }) %>

<body>

    <%- include('../partials/game') %>

    <script>
        document.styleSheets[0].disabled = true
    </script>

</body>
</html>